.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #212529;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-body{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0px 0px 0px 80px;
  align-items: center;
}
.App-pesquisa{
  margin-top: 10px;
  width: 25%;
  
}
.App-listagem{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.App-link {
  color: #61dafb;
}
.AvisoFavoritasVazia{
  margin-top: 50px;
  font-weight: 500;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
